<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="google-fonts">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/GoogleFontsBundle.php</file>
            <directory suffix=".php">src/Exception</directory>
        </exclude>
    </source>
</phpunit>

