services:
  _defaults:
    autowire: true
    autoconfigure: true

  NeuralGlitch\GoogleFonts\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Tests/'

  NeuralGlitch\GoogleFonts\Service\GoogleFontsApi:
    arguments:
      $httpClient: '@http_client'
      $apiKey: '%google_fonts.api_key%'
      $cacheTtl: '%google_fonts.cache_ttl%'

  NeuralGlitch\GoogleFonts\Service\FontDownloader:
    arguments:
      $fontsDir: '%google_fonts.fonts_dir%'
      $httpClient: '@http_client'
      $api: '@NeuralGlitch\GoogleFonts\Service\GoogleFontsApi'

  NeuralGlitch\GoogleFonts\Service\FontLockManager:
    arguments:
      $fontsDir: '%google_fonts.fonts_dir%'
      $manifestFile: '%google_fonts.manifest_file%'
      $fontDownloader: '@NeuralGlitch\GoogleFonts\Service\FontDownloader'

  NeuralGlitch\GoogleFonts\Twig\GoogleFontsExtension:
    tags:
      - { name: 'twig.extension' }

  NeuralGlitch\GoogleFonts\Twig\GoogleFontsRuntime:
    arguments:
      $useLockedFonts: '%google_fonts.use_locked_fonts%'
      $manifestFile: '%google_fonts.manifest_file%'
      $defaults: '%google_fonts.defaults%'
      $assetMapper: '@asset_mapper'
    tags:
      - { name: 'twig.runtime' }

  NeuralGlitch\GoogleFonts\Command\FontsLockCommand:
    arguments:
      $projectDir: '%kernel.project_dir%'

  NeuralGlitch\GoogleFonts\Command\FontsWarmCacheCommand:
    arguments:
      $manifestFile: '%google_fonts.manifest_file%'
      $filesystem: '@Symfony\Component\Filesystem\Filesystem'

  NeuralGlitch\GoogleFonts\Command\FontsStatusCommand:
    arguments:
      $environment: '%kernel.environment%'
      $useLockedFonts: '%google_fonts.use_locked_fonts%'
      $manifestFile: '%google_fonts.manifest_file%'
      $fontsDir: '%google_fonts.fonts_dir%'
      $filesystem: '@Symfony\Component\Filesystem\Filesystem'

  NeuralGlitch\GoogleFonts\Command\FontsPruneCommand:
    arguments:
      $projectDir: '%kernel.project_dir%'
      $fontsDir: '%google_fonts.fonts_dir%'
      $manifestFile: '%google_fonts.manifest_file%'
      $lockManager: '@NeuralGlitch\GoogleFonts\Service\FontLockManager'
      $filesystem: '@Symfony\Component\Filesystem\Filesystem'

